@{
    ViewBag.Tittle = "Yinyang Workshop";
}

<div class="portfolio__container js-portfolio-container">


    <div id="yyws-index" class="portfolio--info-box" data-key="1">
        <h1 class="font-home text-sm-center text-md-left">Yinyang <br /> Workshop</h1>
        <p>Yin-yang Workshop is an experienced and passionate group of designers, developers, project managers, writers and artists. Every client we work with becomes a part of the team. Together we face the challenges and celebrate the victories.</p>
    </div>


    <div class="portfolio--info-box" data-key="2">
        <div id="list-Portfolio" class="carousel slide" data-ride="carousel" data-interval="false">
            <ol class="carousel-indicators">
                <li data-target="#list-Portfolio" data-slide-to="0" class="active"></li>
                <li data-target="#list-Portfolio" data-slide-to="1"></li>
                <li data-target="#list-Portfolio" data-slide-to="2"></li>
                <li data-target="#list-Portfolio" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <h1 class="font-portfolio-header">Portfolio</h1>
                </div>
                <div class="carousel-item" id="yy--kimeco">
                    <div id="kimeco--content">
                        <h1>KIMECO</h1>
                        <p>
                            Korea Industrial Machine and Engineering Company limited (Kimeco., Ltd) has officially established in January, 2000.
                        </p>
                        <h6>August / 2018</h6>
                        <div id="kimeco--wwd">
                            <span>UX/UI</span> <span>CODE</span>
                        </div>
                        <a href="http://www.kimeco.vn/" class="portfolio--info--view-case" target="_blank">
                            <div class="arrow-circle arrow-circle__horizontal arrow-circle__white">
                                <div class="circle-border">
                                    <svg class="center-abs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.56 10.97">
                                        <g id="Layer_2" data-name="Layer 2">
                                            <g id="Layer_1-2" data-name="Layer 1">
                                                <polygon class="cls-1" points="8.28 5.58 0 0 0 5.39 8.28 10.97 16.56 5.39 16.56 0 8.28 5.58" />
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="b-line"></div>
                                <div class="round-shape"></div>
                                <span class="section--home__figure--detail--desc">View Next</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="carousel-item" id="yy--fixxo">
                    <h1>FIXXO</h1>
                    <p>Short paragraph introducing business. Introduction to vision, mission, goals, core values. An introduction to the construction and development journey.</p>
                    <a href="http://www.fixxo.vn/" class="portfolio--info--view-case" target="_blank">
                        <div class="arrow-circle arrow-circle__horizontal arrow-circle__white">
                            <div class="circle-border">
                                <svg class="center-abs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.56 10.97">
                                    <g id="Layer_2" data-name="Layer 2">
                                        <g id="Layer_1-2" data-name="Layer 1">
                                            <polygon class="cls-1" points="8.28 5.58 0 0 0 5.39 8.28 10.97 16.56 5.39 16.56 0 8.28 5.58" />
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="b-line"></div>
                            <div class="round-shape"></div>
                            <span class="section--home__figure--detail--desc">Visit website</span>
                        </div>
                    </a>
                </div>
                <div class="carousel-item " id="yy--yurivisa">
                    <h1>Yuri Visa</h1>
                    <p>Prepare required documents. Then submit them to customer for signing and stamping </p>
                    <a href="http://www.fixxo.vn/" class="portfolio--info--view-case" target="_blank">
                        <div class="arrow-circle arrow-circle__horizontal arrow-circle__white">
                            <div class="circle-border">
                                <svg class="center-abs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.56 10.97">
                                    <g id="Layer_2" data-name="Layer 2">
                                        <g id="Layer_1-2" data-name="Layer 1">
                                            <polygon class="cls-1" points="8.28 5.58 0 0 0 5.39 8.28 10.97 16.56 5.39 16.56 0 8.28 5.58" />
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="b-line"></div>
                            <div class="round-shape"></div>
                            <span class="section--home__figure--detail--desc">Visit website</span>
                        </div>
                    </a>
                </div>
            </div>
            <a class="carousel-control-next portfolio--info--view-case" href="#list-Portfolio" role="button" data-slide="next">
                <div class="arrow-circle arrow-circle__horizontal arrow-circle__white">
                    <div class="circle-border">
                        <svg class="center-abs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.56 10.97">
                            <g id="Layer_2" data-name="Layer 2">
                                <g id="Layer_1-2" data-name="Layer 1">
                                    <polygon class="cls-1" points="8.28 5.58 0 0 0 5.39 8.28 10.97 16.56 5.39 16.56 0 8.28 5.58" />
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="b-line"></div>
                    <div class="round-shape"></div>
                    <span class="section--home__figure--detail--desc">View Next</span>
                </div>
            </a>
        </div>

    </div>
    <div data-key="3" class="portfolio--info-box">

        <div id="yy-service" class="carousel slide" data-ride="carousel" data-interval="false">
            <ol class="carousel-indicators">
                <li data-target="#yy-service" data-slide-to="0" class="active"></li>
                <li data-target="#yy-service" data-slide-to="1"></li>
                <li data-target="#yy-service" data-slide-to="2"></li>
                <li data-target="#yy-service" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <h1 class="font-portfolio-header">OUR SERVICE</h1>
                    <p class="service--discription">
                        WE OFFER ALL-IN-ONE SERVICES
                        <br />
                        We build brands wholistically regardless of disciplines and channels, via the
                        complements of strategic thinking, genuine creativity, and contemporary

                        technologies.
                    </p>
                </div>
                <div class="carousel-item" id="service--01">
                    <h3 class="text-center">FROM CREATIVE IDEA TO FLAWLESS EXECUTIONS</h3>
                    <div class="d-flex justify-content-around">
                        <div class="p-2 text-center">
                            <h5>Design</h5>
                            <img class="center" src="~/Content/images/service_icon_1.png" />
                        </div>
                        <div class="p-2 text-center">
                            <h5>Programing</h5>
                            <img class="center" src="~/Content/images/service_icon_2.png" />
                        </div>
                        <div class="p-2 text-center">
                            <h5>ERP</h5>
                            <img class="center" src="~/Content/images/service_icon_3.png" />
                        </div>
                    </div>
                </div>
                <div class="carousel-item" id="service--02">
                    <div class="row">
                        <div class="col-lg-5 col-sm-12 text-center service--header">
                            <h1>DESIGN</h1>
                            <hr />
                            <div class="d-flex justify-content-around">
                                <div class="p-2">
                                    <p>
                                        Graphic Design<br />
                                        Logo Design<br />
                                        Website Design <br />
                                        Banner Ad <br />
                                        Brochure Design<br />
                                        Business Card
                                    </p>
                                </div>

                                <div class="p-2">
                                    <p>
                                        Packaging Design<br />
                                        Poster Design<br />
                                        Print Design<br />
                                        Stationery<br />
                                        T-shirt Design<br />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="carousel-item " id="service--03">
                    <div class="row">
                        <div class="col-lg-5 col-sm-12 text-center service--header">
                            <h1>PROGRAM</h1>
                            <hr />
                            <p>
                                Progressive Web Application (PWA)<br />
                                Mobile App.<br />
                                Desktop App.<br />
                                Business Analysis & Design Database.<br />
                                Plugin for specific application.<br />
                                Add-on for Zalo, Facebook, etc.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item " id="service--04">
                    <div class="row">
                        <div class="col-lg-5 col-sm-12 text-center service--header">
                            <h1>ERP</h1>
                            <hr />
                            <p style="padding:0 10% 0 10%;">
                                Enterprise resource planning (ERP) is the integrated management of core business processes,<br />
                                often in real-time and mediated by software and technology
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-next portfolio--info--view-case" href="#yy-service" role="button" data-slide="next">
                <div class="arrow-circle arrow-circle__horizontal arrow-circle__white">
                    <div class="circle-border">
                        <svg class="center-abs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.56 10.97">
                            <g id="Layer_2" data-name="Layer 2">
                                <g id="Layer_1-2" data-name="Layer 1">
                                    <polygon class="cls-1" points="8.28 5.58 0 0 0 5.39 8.28 10.97 16.56 5.39 16.56 0 8.28 5.58" />
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="b-line"></div>
                    <div class="round-shape"></div>
                    <span class="section--home__figure--detail--desc">View Next</span>
                </div>
            </a>
        </div>
    </div>
    @*<div class="portfolio--info-box" style="background-color:rgba(255,255,255,.8);color:#424242">
            <div class="grid-col s-11 sm-11 m-12 l-12 lg-12 portfolio--info-col portfolio--info-col__left hidden-s hidden-sm">
                <div class="portfolio--info--inner">
                    <div class="portfolio--info--category grid-col s-12 sm-12 m-11 l-11 lg-11">
                        Awards
                        <p>Best Brand Relationship/ Asia Pacific Excellence Awards<br>Shortlist for Effective/ Food at Asia Marketing Effectiveness Awards<br>Youtube Ads LeaderBoard 2015</p>
                    </div>
                    <div class="portfolio--info--category grid-col s-12 sm-12 m-11 l-11 lg-11">
                        Year
                        <p>2015</p>
                    </div>
                </div>
            </div>
            <div class="grid-col s-11 sm-11 m-12 l-12 lg-12 portfolio--info-col portfolio--info-col__right">
                <div class="portfolio--info--headline">Projects That<br>Show Us to The World</div>
                <div class="portfolio--info--inner">
                    <div class="portfolio--info--brand" style="color:#c9a614">Nam Ngu</div>
                    <div class="portfolio--info--heading" style="color:#e50707">The best meal in the world</div>
                    <div class="visible-s visible-sm no-overflow">
                        <div class="portfolio--info--category grid-col s-12 sm-12 m-11 l-11 lg-11">
                            Awards
                            <p>Best Brand Relationship/ Asia Pacific Excellence Awards<br>Shortlist for Effective/ Food at Asia Marketing Effectiveness Awards<br>Youtube Ads LeaderBoard 2015</p>
                        </div>
                        <div class="portfolio--info--category grid-col s-12 sm-12 m-11 l-11 lg-11">
                            Year
                            <p>2015</p>
                        </div>
                    </div>
                    <div class="grid-col s-11 sm-11">
                        <a href="#" class="portfolio--info--view-case js-video" data-id="KgaloBLNE4o" data-host="youtube">
                            <div class="arrow-circle arrow-circle__horizontal arrow-circle__grey">
                                <div class="circle-border">
                                    <svg class="center-abs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.56 10.97">
                                        <g id="Layer_2" data-name="Layer 2">
                                            <g id="Layer_1-2" data-name="Layer 1">
                                                <polygon class="cls-1" points="8.28 5.58 0 0 0 5.39 8.28 10.97 16.56 5.39 16.56 0 8.28 5.58" />
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="b-line"></div>
                                <div class="round-shape"></div>
                                <span class="section--home__figure--detail--desc" style="color:#424242">View case</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="portfolio--info--copyright"> 2017</div>
            </div>
        </div>
        <div class="portfolio--info-box" style="background-color:rgba(30,16,15,.8);color:#fff">
            <div class="grid-col s-11 sm-11 m-12 l-12 lg-12 portfolio--info-col portfolio--info-col__left hidden-s hidden-sm">
                <div class="portfolio--info--inner">
                    <div class="portfolio--info--category grid-col s-12 sm-12 m-11 l-11 lg-11">
                        Awards
                        <p>Best Food Communications/ Asia Pacific Excellence Awards<br>A Gold for Best Use of Social Media/ PR Asia Awards<br>A Silver for Best Brand Development Campaign of the Year APAC/ PR Asia Awards<br>A Silver for Southeast Asia Campaign of The Year/ PR Asia Awards<br>Top Tet Campaigns 2015 (Millward Brown)</p>
                    </div>
                    <div class="portfolio--info--category grid-col s-12 sm-12 m-11 l-11 lg-11">
                        Year
                        <p>2015</p>
                    </div>
                </div>
            </div>
            <div class="grid-col s-11 sm-11 m-12 l-12 lg-12 portfolio--info-col portfolio--info-col__right">
                <div class="portfolio--info--headline">Projects That<br>Show Us to The World</div>
                <div class="portfolio--info--inner">
                    <div class="portfolio--info--brand" style="color:#c1b51e">Vinacafe</div>
                    <div class="portfolio--info--heading" style="color:#b55018">Cup of Love</div>
                    <div class="visible-s visible-sm no-overflow">
                        <div class="portfolio--info--category grid-col s-11 sm-12 m-11 l-11 lg-11">
                            <div class="grid-col s-11">Awards</div>
                            <p>Best Food Communications/ Asia Pacific Excellence Awards<br>A Gold for Best Use of Social Media/ PR Asia Awards<br>A Silver for Best Brand Development Campaign of the Year APAC/ PR Asia Awards<br>A Silver for Southeast Asia Campaign of The Year/ PR Asia Awards<br>Top Tet Campaigns 2015 (Millward Brown)</p>
                        </div>
                        <div class="portfolio--info--category grid-col s-11 sm-12 m-11 l-11 lg-11">
                            Year
                            <p>2015</p>
                        </div>
                    </div>
                    <div class="grid-col s-11 sm-11">
                        <a href="#" class="portfolio--info--view-case js-video" data-id="CC3z-rku2ik" data-host="youtube">
                            <div class="arrow-circle arrow-circle__horizontal arrow-circle__white">
                                <div class="circle-border">
                                    <svg class="center-abs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.56 10.97">
                                        <g id="Layer_2" data-name="Layer 2">
                                            <g id="Layer_1-2" data-name="Layer 1">
                                                <polygon class="cls-1" points="8.28 5.58 0 0 0 5.39 8.28 10.97 16.56 5.39 16.56 0 8.28 5.58" />
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="b-line"></div>
                                <div class="round-shape"></div>
                                <span class="section--home__figure--detail--desc">View case</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="portfolio--info--copyright"> 2017</div>
            </div>
        </div>*@
</div>
<div class="c-video__popup js-video-popup">
    <div class="c-video__popup-close js-video-close"></div>
    <div class="c-video__popup-content js-video-content" id="js-video-content-vimeo"></div>
    <div class="c-video__popup-content js-video-content" id="js-video-content-yt"></div>
</div>
<div class="left-nav left-nav--portfolio visible-m visible-l visible-lg js-nav text-white">
    <div class="left-nav__mask left-nav__mask--left">
        <p class="section--home--side--text js-left-menu">placeholder</p>
        <div class="navigation-container">
            <ul class="navigation">
                <li class="navigation__item  js-item is-active" id="navigation__item--1" data-index="1" data-name="Home">
                    <p>1</p>
                </li>
                <li class="navigation__item js-item" id="navigation__item--2" data-index="2" data-dark="1" data-name="Portfolio">
                    <p>2</p>
                </li>
                <li class="navigation__item js-item" id="navigation__item--3" data-index="3" data-name="Service">
                    <p>3</p>
                </li>
                @*<li class="navigation__item js-item" data-index="4" data-name="Nam Ngu">
                        <p>4</p>
                    </li>
                    <li class="navigation__item js-item" data-index="5" data-name="Vinacafe">
                        <p>5</p>
                    </li>*@
            </ul>
            <div class="line"></div>
        </div>
    </div>
    <div class="left-nav__mask left-nav__mask--right">
        <p class="section--home--side--text">YinYang Workshop</p>
        <p class="section--home--side--text section--home--side--text__project js-project">YinYang Workshop</p>
    </div>
</div>