@{
    ViewBag.Tittle = "Yinyang Workshop";
}

<div class="portfolio__container js-portfolio-container">
    <div class="portfolio--info-box">
        <h1 class="font-home text-sm-center text-md-left">Yinyang <br /> Workshop</h1>
        @*<div class="grid-col s-11 sm-11 m-12 l-12 lg-12 portfolio--info-col portfolio--info-col__left hidden-s hidden-sm">
            <div class="portfolio--info--inner">
                <div class="portfolio--info--category grid-col s-12 sm-12 m-11 l-11 lg-11">
                    Awards
                    <p>A Gold for Best Use<br>of Broadcast/Video APAC<br><br>A Bronze for Best Brand Development<br>Campaign of The Year APAC<br><br>A Shortlist for Best Use<br>of Social Media APAC<br><br>A Shortlist for Southeast Asia<br>PR Campaign of The Year<br><br></p>
                </div>
                <div class="portfolio--info--category grid-col s-12 sm-12 m-11 l-11 lg-11">
                    Year
                    <p>2017</p>
                </div>
            </div>
        </div>
        <div class="grid-col s-11 sm-11 m-12 l-12 lg-12 portfolio--info-col portfolio--info-col__right">
            <div class="portfolio--info--headline">Projects That<br>Show Us to The World</div>
            <div class="portfolio--info--inner">
                <div class="portfolio--info--brand" style="color:#e5553b">Biti's Hunter</div>
                <div class="portfolio--info--heading" style="color:#7b88ff">Going Far To Be Truly Back</div>
                <div class="visible-sm visible-s no-overflow">
                    <div class="portfolio--info--category grid-col s-11 sm-12 m-11 l-11 lg-11">
                        <div class="grid-col s-11">Awards</div>
                        <div class="grid-col s-12">
                            <p>A Gold for Best Use of Broadcast/Video APAC</p>
                        </div>
                        <div class="grid-col s-12">
                            <p>A Bronze for Best Brand Development Campaign of The Year APAC</p>
                        </div>
                        <div class="grid-col s-12">
                            <p>A Shortlist for Best Use of Social Media APAC</p>
                        </div>
                        <div class="grid-col s-12">
                            <p>A Shortlist for Southeast Asia PR Campaign of The Year</p>
                        </div>
                    </div>
                    <div class="portfolio--info--category grid-col s-11 sm-12 m-11 l-11 lg-11">
                        Year
                        <p>2017</p>
                    </div>
                </div>
                <div class="grid-col s-11 sm-11">
                    <a href="#" class="portfolio--info--view-case js-video" data-id="11RLlnjSp_w" data-host="youtube">
                        <div class="arrow-circle arrow-circle__horizontal arrow-circle__white">
                            <div class="circle-border">
                                <svg class="center-abs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.56 10.97">
                                    <g id="Layer_2" data-name="Layer 2">
                                        <g id="Layer_1-2" data-name="Layer 1">
                                            <polygon class="cls-1" points="8.28 5.58 0 0 0 5.39 8.28 10.97 16.56 5.39 16.56 0 8.28 5.58" />
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="b-line"></div>
                            <div class="round-shape"></div>
                            <span class="section--home__figure--detail--desc">View case</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="portfolio--info--copyright"> 2017</div>
        </div>*@
    </div>
    <div class="portfolio--info-box">
        <div id="list-Portfolio" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#list-Portfolio" data-slide-to="0" class="active"></li>
                <li data-target="#list-Portfolio" data-slide-to="1"></li>
                @*<li data-target="#list-Portfolio" data-slide-to="2"></li>*@
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <h1 class="font-portfolio-header">Portfolio</h1>
                </div>
                <div class="carousel-item" id="yy--kimeco">
                    <div class="inside">
                        <div id="kimeco--content">
                            <h1>KIMECO</h1>
                            <p>
                                Korea Industrial Machine and Engineering Company limited (Kimeco., Ltd) has officially established in January, 2000.
                            </p>
                            <h6>August / 2018</h6>
                            <div id="kimeco--wwd">
                                <span>UX/UI</span> <span>CODE</span>
                            </div>
                        </div>

                    </div>

                </div>
                @*<div class="carousel-item">
                    <img class="d-block w-100" src="https://via.placeholder.com/350x150" alt="Third slide">
                </div>*@
            </div>
            <a class="carousel-control-prev" href="#list-Portfolio" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#list-Portfolio" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
       
        @*<div class="grid-col s-11 sm-11 m-12 l-12 lg-12 portfolio--info-col portfolio--info-col__left hidden-s hidden-sm">
                <div class="portfolio--info--inner">
                    <div class="portfolio--info--category grid-col s-12 sm-12 m-11 l-11 lg-11">
                        Awards
                        <p>A Bronze for Best Brand<br>Development Campaign of The Year<br>APAC</p>
                    </div>
                    <div class="portfolio--info--category grid-col s-12 sm-12 m-11 l-11 lg-11">
                        Year
                        <p>2015</p>
                    </div>
                </div>
            </div>
            <div class="grid-col s-11 sm-11 m-12 l-12 lg-12 portfolio--info-col portfolio--info-col__right">
                <div class="portfolio--info--headline">Projects That<br>Show Us to The World</div>
                <div class="portfolio--info--inner">
                    <div class="portfolio--info--brand" style="color:#873929">Mirinda Sarsi</div>
                    <div class="portfolio--info--heading" style="color:#1a7638">Being Nerdy<br>is Being Cool</div>
                    <div class="visible-sm visible-s no-overflow">
                        <div class="portfolio--info--category grid-col s-12 sm-12 m-11 l-11 lg-11">
                            Awards
                            <p>A Bronze for Best Brand<br>Development Campaign of The Year<br>APAC</p>
                        </div>
                        <div class="portfolio--info--category grid-col s-12 sm-12 m-11 l-11 lg-11">
                            Year
                            <p>2015</p>
                        </div>
                    </div>
                    <div class="grid-col s-11 sm-11">
                        <a href="#" class="portfolio--info--view-case js-video" data-id="w9LFkjDxXBc" data-host="youtube">
                            <div class="arrow-circle arrow-circle__horizontal arrow-circle__grey">
                                <div class="circle-border">
                                    <svg class="center-abs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.56 10.97">
                                        <g id="Layer_2" data-name="Layer 2">
                                            <g id="Layer_1-2" data-name="Layer 1">
                                                <polygon class="cls-1" points="8.28 5.58 0 0 0 5.39 8.28 10.97 16.56 5.39 16.56 0 8.28 5.58" />
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="b-line"></div>
                                <div class="round-shape"></div>
                                <span class="section--home__figure--detail--desc" style="color:#424242">View case</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="portfolio--info--copyright"> 2017</div>
            </div>*@
    </div>
    @*<div class="portfolio--info-box" style="background-color:rgba(226,86,16,.8);color:#fff">
        <div class="grid-col s-11 sm-11 m-12 l-12 lg-12 portfolio--info-col portfolio--info-col__left hidden-s hidden-sm">
            <div class="portfolio--info--inner">
                <div class="portfolio--info--category grid-col s-12 sm-12 m-11 l-11 lg-11">
                    Awards
                    <p>Youtube Ads Leader Board Tet 2016<br>Shortlist for Brand Awareness MMA/ The<br>Smarties APAC</p>
                </div>
                <div class="portfolio--info--category grid-col s-12 sm-12 m-11 l-11 lg-11">
                    Year
                    <p>2016</p>
                </div>
            </div>
        </div>
        <div class="grid-col s-11 sm-11 m-12 l-12 lg-12 portfolio--info-col portfolio--info-col__right">
            <div class="portfolio--info--headline">Projects That<br>Show Us to The World</div>
            <div class="portfolio--info--inner">
                <div class="portfolio--info--brand">Mirinda</div>
                <div class="portfolio--info--heading" style="color:#ffea4d">Tet Full of<br>Laughter</div>
                <div class="visible-s visible-sm no-overflow">
                    <div class="portfolio--info--category grid-col s-12 sm-12 m-11 l-11 lg-11">
                        Awards
                        <p>Youtube Ads Leader Board Tet 2016<br>Shortlist for Brand Awareness MMA/ The<br>Smarties APAC</p>
                    </div>
                    <div class="portfolio--info--category grid-col s-12 sm-12 m-11 l-11 lg-11">
                        Year
                        <p>2016</p>
                    </div>
                </div>
                <div class="grid-col s-11 sm-11">
                    <a href="#" class="portfolio--info--view-case js-video" data-id="w3ALDgALyAo" data-host="youtube">
                        <div class="arrow-circle arrow-circle__horizontal arrow-circle__white">
                            <div class="circle-border">
                                <svg class="center-abs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.56 10.97">
                                    <g id="Layer_2" data-name="Layer 2">
                                        <g id="Layer_1-2" data-name="Layer 1">
                                            <polygon class="cls-1" points="8.28 5.58 0 0 0 5.39 8.28 10.97 16.56 5.39 16.56 0 8.28 5.58" />
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="b-line"></div>
                            <div class="round-shape"></div>
                            <span class="section--home__figure--detail--desc">View case</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="portfolio--info--copyright"> 2017</div>
        </div>
    </div>
    <div class="portfolio--info-box" style="background-color:rgba(255,255,255,.8);color:#424242">
        <div class="grid-col s-11 sm-11 m-12 l-12 lg-12 portfolio--info-col portfolio--info-col__left hidden-s hidden-sm">
            <div class="portfolio--info--inner">
                <div class="portfolio--info--category grid-col s-12 sm-12 m-11 l-11 lg-11">
                    Awards
                    <p>Best Brand Relationship/ Asia Pacific Excellence Awards<br>Shortlist for Effective/ Food at Asia Marketing Effectiveness Awards<br>Youtube Ads LeaderBoard 2015</p>
                </div>
                <div class="portfolio--info--category grid-col s-12 sm-12 m-11 l-11 lg-11">
                    Year
                    <p>2015</p>
                </div>
            </div>
        </div>
        <div class="grid-col s-11 sm-11 m-12 l-12 lg-12 portfolio--info-col portfolio--info-col__right">
            <div class="portfolio--info--headline">Projects That<br>Show Us to The World</div>
            <div class="portfolio--info--inner">
                <div class="portfolio--info--brand" style="color:#c9a614">Nam Ngu</div>
                <div class="portfolio--info--heading" style="color:#e50707">The best meal in the world</div>
                <div class="visible-s visible-sm no-overflow">
                    <div class="portfolio--info--category grid-col s-12 sm-12 m-11 l-11 lg-11">
                        Awards
                        <p>Best Brand Relationship/ Asia Pacific Excellence Awards<br>Shortlist for Effective/ Food at Asia Marketing Effectiveness Awards<br>Youtube Ads LeaderBoard 2015</p>
                    </div>
                    <div class="portfolio--info--category grid-col s-12 sm-12 m-11 l-11 lg-11">
                        Year
                        <p>2015</p>
                    </div>
                </div>
                <div class="grid-col s-11 sm-11">
                    <a href="#" class="portfolio--info--view-case js-video" data-id="KgaloBLNE4o" data-host="youtube">
                        <div class="arrow-circle arrow-circle__horizontal arrow-circle__grey">
                            <div class="circle-border">
                                <svg class="center-abs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.56 10.97">
                                    <g id="Layer_2" data-name="Layer 2">
                                        <g id="Layer_1-2" data-name="Layer 1">
                                            <polygon class="cls-1" points="8.28 5.58 0 0 0 5.39 8.28 10.97 16.56 5.39 16.56 0 8.28 5.58" />
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="b-line"></div>
                            <div class="round-shape"></div>
                            <span class="section--home__figure--detail--desc" style="color:#424242">View case</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="portfolio--info--copyright"> 2017</div>
        </div>
    </div>
    <div class="portfolio--info-box" style="background-color:rgba(30,16,15,.8);color:#fff">
        <div class="grid-col s-11 sm-11 m-12 l-12 lg-12 portfolio--info-col portfolio--info-col__left hidden-s hidden-sm">
            <div class="portfolio--info--inner">
                <div class="portfolio--info--category grid-col s-12 sm-12 m-11 l-11 lg-11">
                    Awards
                    <p>Best Food Communications/ Asia Pacific Excellence Awards<br>A Gold for Best Use of Social Media/ PR Asia Awards<br>A Silver for Best Brand Development Campaign of the Year APAC/ PR Asia Awards<br>A Silver for Southeast Asia Campaign of The Year/ PR Asia Awards<br>Top Tet Campaigns 2015 (Millward Brown)</p>
                </div>
                <div class="portfolio--info--category grid-col s-12 sm-12 m-11 l-11 lg-11">
                    Year
                    <p>2015</p>
                </div>
            </div>
        </div>
        <div class="grid-col s-11 sm-11 m-12 l-12 lg-12 portfolio--info-col portfolio--info-col__right">
            <div class="portfolio--info--headline">Projects That<br>Show Us to The World</div>
            <div class="portfolio--info--inner">
                <div class="portfolio--info--brand" style="color:#c1b51e">Vinacafe</div>
                <div class="portfolio--info--heading" style="color:#b55018">Cup of Love</div>
                <div class="visible-s visible-sm no-overflow">
                    <div class="portfolio--info--category grid-col s-11 sm-12 m-11 l-11 lg-11">
                        <div class="grid-col s-11">Awards</div>
                        <p>Best Food Communications/ Asia Pacific Excellence Awards<br>A Gold for Best Use of Social Media/ PR Asia Awards<br>A Silver for Best Brand Development Campaign of the Year APAC/ PR Asia Awards<br>A Silver for Southeast Asia Campaign of The Year/ PR Asia Awards<br>Top Tet Campaigns 2015 (Millward Brown)</p>
                    </div>
                    <div class="portfolio--info--category grid-col s-11 sm-12 m-11 l-11 lg-11">
                        Year
                        <p>2015</p>
                    </div>
                </div>
                <div class="grid-col s-11 sm-11">
                    <a href="#" class="portfolio--info--view-case js-video" data-id="CC3z-rku2ik" data-host="youtube">
                        <div class="arrow-circle arrow-circle__horizontal arrow-circle__white">
                            <div class="circle-border">
                                <svg class="center-abs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.56 10.97">
                                    <g id="Layer_2" data-name="Layer 2">
                                        <g id="Layer_1-2" data-name="Layer 1">
                                            <polygon class="cls-1" points="8.28 5.58 0 0 0 5.39 8.28 10.97 16.56 5.39 16.56 0 8.28 5.58" />
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="b-line"></div>
                            <div class="round-shape"></div>
                            <span class="section--home__figure--detail--desc">View case</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="portfolio--info--copyright"> 2017</div>
        </div>
    </div>*@
</div>
<div class="c-video__popup js-video-popup">
    <div class="c-video__popup-close js-video-close"></div>
    <div class="c-video__popup-content js-video-content" id="js-video-content-vimeo"></div>
    <div class="c-video__popup-content js-video-content" id="js-video-content-yt"></div>
</div>
<div class="left-nav left-nav--portfolio visible-m visible-l visible-lg js-nav text-white">
    <div class="left-nav__mask left-nav__mask--left">
        <p class="section--home--side--text js-left-menu">placeholder</p>
        <div class="navigation-container">
            <ul class="navigation">
                <li class="navigation__item js-item is-active" data-index="1" data-name="Home">
                    <p>1</p>
                </li>
                <li class="navigation__item js-item" data-index="2" data-dark="1" data-name="Portfolio">
                    <p>2</p>
                </li>
                @*<li class="navigation__item js-item" data-index="3" data-name="Mirinda">
                    <p>3</p>
                </li>
                <li class="navigation__item js-item" data-index="4" data-name="Nam Ngu">
                    <p>4</p>
                </li>
                <li class="navigation__item js-item" data-index="5" data-name="Vinacafe">
                    <p>5</p>
                </li>*@
            </ul>
            <div class="line"></div>
        </div>
    </div>
    <div class="left-nav__mask left-nav__mask--right">
        <p class="section--home--side--text">YinYang Workshop</p>
        <p class="section--home--side--text section--home--side--text__project js-project">YinYang Workshop</p>
    </div>
</div>